//COLORS
$main-color: #0089ED;
$input-border: #ADADAD;
$btn-color: #F6F6F6;
$btn-secondary-color:#E9F1FF;
//BOX-SHADOW
$form-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
$button-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
//FONT-SIZES